.feed {
    flex: 1;
    /* Take remaining width */
    margin: 0 10px;
}

.feed-header {
    border-bottom: 1px solid #d8dfea;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.feed-title {
    font-weight: bold;
    font-size: 14px;
}

.status-update-box {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

.status-label {
    display: block;
    font-weight: bold;
    color: #777;
    margin-bottom: 5px;
}

.status-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #bdc7d8;
    margin-bottom: 5px;
}

.share-btn {
    background-color: #3b5998;
    color: #fff;
    border: 1px solid #0e1f5b;
    padding: 2px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
}