.fb-header {
    background-color: #3b5998;
    height: 42px;
    /* Approx 2008 height */
    width: 100%;
    border-bottom: 1px solid #133783;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-inner {
    width: 980px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1px;
    margin-right: 20px;
    cursor: pointer;
}

.header-menu {
    display: flex;
    gap: 20px;
}

.header-menu a {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.header-menu a:hover {
    background-color: #4b67a1;
    /* Slight highlight */
    text-decoration: none;
}

.search-box input {
    padding: 3px 5px;
    border: 1px solid #1d4088;
    font-size: 11px;
    width: 200px;
}