.sidebar-left {
    width: 180px;
    padding: 10px;
}

.profile-pic {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.profile-name-overlay {
    font-weight: bold;
    font-size: 18px;
    /* Increased size */
    margin-bottom: 5px;
    color: #333;
}

.profile-actions a {
    display: block;
    font-size: 10px;
    margin-bottom: 2px;
    padding-left: 0;
}

.nav-links {
    margin-top: 15px;
}

.nav-item {
    padding: 4px 0;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-item:hover {
    background-color: #eff2f7;
}

.icon {
    width: 20px;
    text-align: center;
    margin-right: 5px;
}

.nav-text {
    color: #333;
    font-size: 11px;
}

.nav-item a.nav-text {
    color: #3b5998;
}

.nav-item a.nav-text:hover {
    text-decoration: underline;
}